# compiled output
/dist
/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

yarn.lock
.env
arduino-python/env/**
arduino-python/.env

/Volumes/project/wireless-project/project/backend/roots.pem
/Volumes/project/wireless-project/project/backend/rsa_cert.pem
/Volumes/project/wireless-project/project/backend/rsa_private.pem
/Volumes/project/wireless-project/project/backend/local-topic-364613-1cc2101a0d55.json